<html >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://www.aig.co.il/travel/app/aboard.min.css?v=2_2_0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="direction: ltr">
<div class="aig-abroad">
  <div id="modal-body-id" class="modal-body container single-package-details-wrapper ng-scope">
    <table class="table table-bordered" valign="middle">
      <thead>
      <tr>
        <th scope="col" class="ng-binding">Coverage for Travel Guard package</th>
        <th scope="col" class="ng-binding">Maximum liability limit</th>
      </tr>
      </thead>
      <!-- ngRepeat: tableRow in tableRows track by $index -->
      <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
      <tr>
        <td colspan="2" class="rows-title ng-binding">Medical Expenses</td>
      </tr>
      <!-- ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Medical expenses abroad</td>
        <td tabindex="0" class="ng-binding">250,000$</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Hospitalization expenses and medical expenses for extreme sports + winter sports</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Overland, aerial and overseas evacuation</td>
        <td tabindex="0" class="ng-binding">3,000$</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Medical flight</td>
        <td tabindex="0" class="ng-binding">Full coverage included, no extra payment.</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Air transport for an escort</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Bringing back children expenses</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Medicine</td>
        <td tabindex="0" class="ng-binding">400$</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Dental emergency treatment</td>
        <td tabindex="0" class="ng-binding">400$</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Psychological treatments</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Body transfer</td>
        <td tabindex="0" class="ng-binding">25,000$</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      </tbody>
      <!-- end ngRepeat: tableRow in tableRows track by $index -->
      <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
      <tr>
        <td colspan="2" class="rows-title ng-binding">Special Expenses</td>
      </tr>
      <!-- ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Insured travel ticket</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Travel ticker - single company</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Expenses abroad for insured hotel</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Expenses abroad for insured hotel - single company</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Trip cancellation</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Trip cancellation - single company</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Trip interruption</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Trip interruption - single company</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      </tbody>
      <!-- end ngRepeat: tableRow in tableRows track by $index -->
      <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
      <tr>
        <td colspan="2" class="rows-title ng-binding">Personal accidents</td>
      </tr>
      <!-- ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Death due to accident</td>
        <td tabindex="0" class="ng-binding">5,000$</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Permanent disability due to accident</td>
        <td tabindex="0" class="ng-binding">5,000$</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      </tbody>
      <!-- end ngRepeat: tableRow in tableRows track by $index -->
      <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
      <tr>
        <td colspan="2" class="rows-title ng-binding">Third party liability</td>
      </tr>
      <!-- ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Third party</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      </tbody>
      <!-- end ngRepeat: tableRow in tableRows track by $index -->
      <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
      <tr>
        <td colspan="2" class="rows-title ng-binding">Extra coverage</td>
      </tr>
      <!-- ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">baggage</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Valuables</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Maximum per item</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Baggage arrival delay </td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Passport loss</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Document recovery</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Flight delays</td>
        <td tabindex="0" class="ng-binding">No coverage</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
        <td tabindex="0" scope="row" class="ng-binding">Policyholder's participation</td>
        <td tabindex="0" class="ng-binding">50$</td>
      </tr>
      <!-- end ngRepeat: cover in tableRow.covers track by $index -->
      </tbody>
      <!-- end ngRepeat: tableRow in tableRows track by $index -->
    </table>
  </div>
</div>
</body>
</html>
