<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://www.aig.co.il/travel/app/aboard.min.css?v=2_2_0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="aig-abroad">


    <div id="modal-body-id" class="modal-body container single-package-details-wrapper ng-scope">
      <table class="table table-bordered" valign="middle">
        <thead>
          <tr>
            <th scope="col" class="ng-binding">כיסוי עבור חבילת Travel Guard- חבילה לבעלי מצב רפואי קודם</th>
            <th scope="col" class="ng-binding">גבול אחריות מקסימלי</th>
          </tr>
        </thead>
        <!-- ngRepeat: tableRow in tableRows track by $index -->
        <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
          <tr>
            <td colspan="2" class="rows-title ng-binding">הוצאות רפואיות</td>
          </tr>
          <!-- ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">הוצאות רפואיות בחו"ל</td>
            <td tabindex="0" class="ng-binding">500,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">החמרת מצב רפואי קיים</td>
            <td tabindex="0" class="ng-binding">200,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">הוצאות רפואיות - הריון</td>
            <td tabindex="0" class="ng-binding">50,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">פינוי ימי ואווירי</td>
            <td tabindex="0" class="ng-binding">7,500$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">הטסה רפואית</td>
            <td tabindex="0" class="ng-binding">כיסוי מלא כלול. ללא תוספת תשלום</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">הטסת מלווה מישראל לחו"ל</td>
            <td tabindex="0" class="ng-binding">אין כיסוי</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">הוצאות להחזרת ילדים לישראל (עד 4 ילדים)</td>
            <td tabindex="0" class="ng-binding">אין כיסוי</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">תרופות</td>
            <td tabindex="0" class="ng-binding">200$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">טיפול חירום בשיניים ועזרה ראשונה בשיניים</td>
            <td tabindex="0" class="ng-binding">300$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">העברת גופה</td>
            <td tabindex="0" class="ng-binding">כיסוי מלא כלול. ללא תוספת תשלום</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
        </tbody>
        <!-- end ngRepeat: tableRow in tableRows track by $index -->
        <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
          <tr>
            <td colspan="2" class="rows-title ng-binding">הוצאות מיוחדות</td>
          </tr>
          <!-- ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">כרטיס נסיעה מבוטח</td>
            <td tabindex="0" class="ng-binding">1,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">כרטיס נסיעה- מלווה אחד בלבד</td>
            <td tabindex="0" class="ng-binding">500$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">הוצאות בחו"ל בגין מלון מבוטח</td>
            <td tabindex="0" class="ng-binding">1,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">הוצאות בחו"ל בגין מלון - מלווה אחד בלבד</td>
            <td tabindex="0" class="ng-binding">1,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">ביטול נסיעה</td>
            <td tabindex="0" class="ng-binding">5,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">ביטול נסיעה- מלווה אחד בלבד</td>
            <td tabindex="0" class="ng-binding">1,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">קיצור נסיעה</td>
            <td tabindex="0" class="ng-binding">7,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">קיצור נסיעה - מלווה אחד בלבד</td>
            <td tabindex="0" class="ng-binding">1,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
        </tbody>
        <!-- end ngRepeat: tableRow in tableRows track by $index -->
        <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
          <tr>
            <td colspan="2" class="rows-title ng-binding">תאונות אישיות</td>
          </tr>
          <!-- ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">מוות עקב תאונה</td>
            <td tabindex="0" class="ng-binding">15,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">נכות צמיתה עקב תאונה</td>
            <td tabindex="0" class="ng-binding">15,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
        </tbody>
        <!-- end ngRepeat: tableRow in tableRows track by $index -->
        <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
          <tr>
            <td colspan="2" class="rows-title ng-binding">חבות כלפי צד ג'</td>
          </tr>
          <!-- ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">צד ג'</td>
            <td tabindex="0" class="ng-binding">100,000$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
        </tbody>
        <!-- end ngRepeat: tableRow in tableRows track by $index -->
        <tbody ng-repeat="tableRow in tableRows track by $index" class="ng-scope">
          <tr>
            <td colspan="2" class="rows-title ng-binding">כיסויים נוספים</td>
          </tr>
          <!-- ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">כבודה</td>
            <td tabindex="0" class="ng-binding">1,750$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">מתוכה דברי ערך</td>
            <td tabindex="0" class="ng-binding">500$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">מקסימום לפריט</td>
            <td tabindex="0" class="ng-binding">300$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">גניבת מטען מרכב או מתא לשמירת חפצים</td>
            <td tabindex="0" class="ng-binding">400$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">עיכוב בהגעת כבודה</td>
            <td tabindex="0" class="ng-binding">100$(מעל 24 שעות)</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">אובדן דרכון</td>
            <td tabindex="0" class="ng-binding">100$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">שחזור מסמכים</td>
            <td tabindex="0" class="ng-binding">150$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">עיכוב טיסה</td>
            <td tabindex="0" class="ng-binding">אין כיסוי</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">השתתפות עצמית</td>
            <td tabindex="0" class="ng-binding">50$</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
          <tr ng-repeat="cover in tableRow.covers track by $index" class="ng-scope">
            <td tabindex="0" scope="row" class="ng-binding">גיל כניסה מקסימלי</td>
            <td tabindex="0" class="ng-binding">75</td>
          </tr>
          <!-- end ngRepeat: cover in tableRow.covers track by $index -->
        </tbody>
        <!-- end ngRepeat: tableRow in tableRows track by $index -->
      </table>
    </div>

  </div>
</body>

</html>